p {
  color: white;
  font-size: clamp(2rem, 3vw, 3rem);
  width: clamp(40rem, 50vw, 70rem);
}

h1 {
  color: white;
  font-family: "Clicker Script", cursive;
  font-size: clamp(12rem, 20vw, 30rem);
}

.main-wrapper {
  position: relative;
  height: 125%;
  overflow: hidden;
}

.hero-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-header img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cobre a área sem distorcer */
  object-position: top center;
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: 6%;
  padding-inline: 15%;
  color: white;
}

.hero-text{
  max-width: fit-content;
}

.hero-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  z-index: 0;
}

.main-wrapper {
  width: 212vw;
}


@media (min-width: 768px) {
  .main-wrapper {
    width: 160vw;
  }  
}

@media (min-width: 1440px) {
  .main-wrapper {
    width: 120vw;
  }
}

@media (min-width: 2440px) {
  .main-wrapper {
    width: 100vw;
  }
}




