  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <img mat-card-image src="../../../assets/coffe-one.svg" alt="Coffe-Photos">
    </mat-card-header>

    <mat-card-content>
        <mat-card-title>Capuccino</mat-card-title>
        <mat-card-subtitle>50% Leite 50% Café</mat-card-subtitle>    
    </mat-card-content>

    <mat-card-actions>
      <!-- <button mat-button>Order Now</button> -->
      <app-button>Order Now</app-button>
    </mat-card-actions>
  </mat-card>