<mat-card class="product-card" [attr.cardOption]="cardOption">
  <mat-card-header>
    <img mat-card-image src="{{ cardData.imageSrc }}" alt="Coffe-Photos" />
  </mat-card-header>

  <mat-card-content>
    <div class="title-subtitle">
      <mat-card-title>{{ cardData.title }}</mat-card-title>
      <mat-card-subtitle>{{ cardData.subtitle }}</mat-card-subtitle>
    </div>
    <mat-card-subtitle class="card-preview">{{
      cardData.secondSubtitle
    }}</mat-card-subtitle>
    @if(cardOption === 'feedback'){
    <div class="feedback-icon">
      <img
        src="../../../assets/footer/pngtree-cute-cookies-holding-a-coffee-cup-cartoon-png-image_15030379.png"
        alt="coffee icon"
      />
    </div>
    }
  </mat-card-content>

  <mat-card-actions>
    @if(cardOption === 'market')
    { 
      <div class="market-card-actions">
        <app-button [showButton]="showButton" (click)="decrement()"> - </app-button>
        <app-button id="market-card-actions-middle-button">{{quantity}}</app-button>
        <app-button [showButton]="showButton" (click)="increment()"> + </app-button>
      </div>
    } 
    @else {
    <app-button 
    [showButton]="showButton"
    (click)="handleButtonClick()"
    >
      {{ buttonText }}
    </app-button>
    }
  </mat-card-actions>
</mat-card>
