  <mat-card class="product-card" [attr.cardOption]="cardOption">
    <mat-card-header>
      <img mat-card-image src={{data.imageSrc}} alt="Coffe-Photos">
    </mat-card-header>

    <mat-card-content>
      <div class="title-subtitle">
        <mat-card-title>{{data.title}}</mat-card-title>
        <mat-card-subtitle>{{data.subtitle}}</mat-card-subtitle>   
      </div>
        <mat-card-subtitle>{{data.secondSubtitle}}</mat-card-subtitle>
        @if(cardOption === 'feedback'){
          <div class="feedback-icon">
            <!-- <img src="../../../assets/footer/ChatGPT Image 13 de abr. de 2025, 01_56_17.png" alt="coffee icon"> -->
            <img src="../../../assets/footer/pngtree-cute-cookies-holding-a-coffee-cup-cartoon-png-image_15030379.png" alt="coffee icon">
          </div>
        }  
    </mat-card-content>

      <mat-card-actions>
        <app-button [showButton]="showButton">
          {{buttonText}}  
      </app-button>
      </mat-card-actions>
  </mat-card>