.product-card {
  position: relative;
 /* Permite posicionar elementos filhos de forma absoluta */
}
.mat-mdc-card-image {
  object-fit: cover !important;
  display: block !important;
  margin: 0  auto;
}

.card-preview {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de linhas */
  line-clamp: 3; /* número de linhas (standard property) */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedback-icon {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 100px;
  height: 100px;
}

.feedback-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}


.product-card[cardOption='feedback']{
  width: fit-content;
  max-width: 80rem;
  padding-top:8rem;
  display: flex;
  flex-direction: column-reverse;
}

.mat-mdc-card-subtitle{
  height: max-content;
}

.product-card[cardOption ='feedback'] .mat-mdc-card-content{
  display: flex;
  flex-direction: column-reverse;
}
.product-card[cardOption ='feedback'] .mat-mdc-card-content .mat-mdc-card-subtitle{
  font-size: clamp(1.25rem,1vw,2rem);
}

.product-card[cardOption ='feedback'] .mat-mdc-card-content :nth-child(3){
    margin-bottom: 45px;
}

.product-card[cardOption ='feedback'] .mat-mdc-card-header
{
  position: absolute;
  bottom: -50px; 
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
}
.title-subtitle{
  text-align: center;
}

.product-card[cardOption='feedback'] .title-subtitle{
  margin-top: 20px;
  margin-bottom: 50px;
}

.product-card[cardOption='feedback'] .mat-mdc-card-header img {
  border-radius: 10%; 
  width: 100px;        
  height: 100px;        
  object-fit: cover;   
  object-position: top;

}

.product-card[cardOption='feedback'] .mat-mdc-card-content{
  padding-bottom: 0;
}


/*******************************************/
.product-card[cardOption='small']  {
  width: 200px;
}

.product-card[cardOption='small'] .mat-mdc-card-subtitle{
  text-align: center;
  width: 150px;
}

.product-card[cardOption='small'] .mat-mdc-card-header {
  padding-top: 30px;
}

.product-card[cardOption='small'] .mat-mdc-card-content {
  padding-top: 20px;
  padding-bottom: 20px;

}

.product-card[cardOption='small'] .mat-mdc-card-image {
  width: 70px;
  height: 70px;
}

   .mat-mdc-card-image{
    width: 100%;
    height: 100%;
    max-height: clamp(15rem, 10vw, 20rem);
  }

 .mat-mdc-card-content{
  padding-bottom: 5rem;
}

.mat-mdc-card-actions {
  position: absolute;
  bottom: -2rem; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
}
.mat-mdc-card {
  background-color: rgba(249, 192, 106, 0.42);
  max-width: fit-content;
}
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-mdc-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.mat-mdc-card-title {
  color: #6c3a09;
}
.mat-mdc-card-subtitle {
  text-align: center !important;
  color: #707070;
}


/*Mobile*/
@media (max-width: 768px) {
  mat-card-subtitle{
    margin-bottom: 10px;
  }

  .feedback-icon img{
    width: 70%;
    height: 70%;
  }
    .product-card[cardOption='feedback'] .title-subtitle{
      margin-top: 0;
      margin-bottom: 1.5rem;
    } 
  .product-card[cardOption='feedback'] .mat-mdc-card-header img {
    width: 5rem;
    height: 5rem;       
  } 

  .product-card[cardOption ='feedback'] .mat-mdc-card-header
  {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
  }      
}
