.product-card {
  position: relative;
 /* Permite posicionar elementos filhos de forma absoluta */
}
.mat-mdc-card-image {
  object-fit: cover; /* Faz o crop para preencher sem distorcer */
  display: block;
  margin: 0  auto;
}

.feedback-icon {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 100px;
  height: 100px;
}

.feedback-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card[cardOption='feedback']{
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column-reverse;
}

.product-card[cardOption ='feedback'] .mat-mdc-card-content{
  display: flex;
  flex-direction: column-reverse;
  min-width: 750px;
}
.product-card[cardOption ='feedback'] .mat-mdc-card-content .mat-mdc-card-subtitle{
  font-size: 16px;
}

.product-card[cardOption ='feedback'] .mat-mdc-card-content :nth-child(3){
    /* width: 900px; */
    margin-bottom: 45px;
}

.product-card[cardOption ='feedback'] .mat-mdc-card-header
{
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
}
.title-subtitle{
  text-align: center;
}

.product-card[cardOption='feedback'] .title-subtitle{
  margin-top: 20px;
  margin-bottom: 50px;
}

.product-card[cardOption='feedback'] .mat-mdc-card-header img {
  border-radius: 10%; /* Deixa a imagem redonda */
  width: 100px;         /* Opcional: define tamanho */
  height: 100px;        /* Opcional: define tamanho */
  object-fit: cover;   /* Garante que a imagem não deforme */
  object-position: top;

}

/*******************************************/
.product-card[cardOption='small']  {
  width: 200px;
}

.product-card[cardOption='small'] .mat-mdc-card-subtitle{
  text-align: center;
  width: 150px;
}

.product-card[cardOption='small'] .mat-mdc-card-header {
  padding-top: 30px;
}

.product-card[cardOption='small'] .mat-mdc-card-content {
  padding-top: 20px;
  padding-bottom: 20px;

}

.product-card[cardOption='small'] .mat-mdc-card-image {
  width: 70px;
  height: 70px;
}
.product-card[cardOption='default'] .mat-mdc-card-image{
  width: 200px;
  height: 200px;
}

.product-card[cardOption='default'] .mat-mdc-card-content{
  padding-bottom: 50px;
}

.mat-mdc-card-actions {
  position: absolute;
  bottom: -20px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
}
.mat-mdc-card {
  background-color: rgba(249, 192, 106, 0.42);
  max-width: fit-content;
}
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-mdc-card-header {
  padding: 0;
}

.mat-mdc-card-title {
  color: #6c3a09;
}
.mat-mdc-card-subtitle {
  color: #707070;
}
