<form class="form-container">
  <mat-form-field class="form-field-container">
    <mat-label>Email</mat-label>
    <input #emailInput type="email" matInput [formControl]="emailFormControl"
           placeholder="Ex. ricardo.castro.linkedin@gmail.com" />
    
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form>
