<div class="navbar-container">
  <div class="navbar-logo">
    <p>Bean Scene</p>
  </div>

  <!-- Mobile menu com botão -->
  <div class="navbar-menu mobile-only">
    <button mat-button [matMenuTriggerFor]="defaultMenu">
      <mat-icon id="menu-icone" svgIcon="menu-icon-registred"></mat-icon>
    </button>

    <mat-menu #defaultMenu="matMenu">
      @for (item of menuItems; track item.label) { @if (!item.submenu) {
      <button mat-menu-item [routerLink]="item.link">
        {{ item.label }}
      </button>
      } @else if (item.label === 'Account') {
      <button mat-menu-item [matMenuTriggerFor]="accountMenu">
        {{ item.label }}
      </button>
      } @else {
      <button mat-menu-item [matMenuTriggerFor]="productsMenu">
        {{ item.label }}
      </button>
      } }
    </mat-menu>

    <!-- Submenu -->
    <mat-menu #productsMenu="matMenu">
      @for (sub of getSubmenu('Products'); track sub.label) {
      <button mat-menu-item [routerLink]="sub.link">
        {{ sub.label }}
      </button>
      }
    </mat-menu>
    <!--Submenu-->
    <mat-menu #accountMenu="matMenu">
      @for (sub of getSubmenu('Account'); track sub.label) {
      <button mat-menu-item [routerLink]="sub.link">
        {{ sub.label }}
      </button>
      }
    </mat-menu>
  </div>

  <!-- Desktop menu direto na navbar -->
  <ul class="navbar-list desktop-only">
    @for (item of menuItems; track item.label) {
      <li>
        @if (!item.submenu) {
          <a [routerLink]="item.link">{{ item.label }}</a>
        } @else if (item.label === 'Products') {
          <a href="javascript:void(0)" [matMenuTriggerFor]="productsMenu">
            {{ item.label }}
          </a>
        } @else if (item.label === 'Account') {
          <a href="javascript:void(0)" [matMenuTriggerFor]="accountMenu">
            {{ item.label }}
          </a>
        }
      </li>
    }
  </ul>  
</div>
