*{
  color: white;
}

.navbar-container {
  position: absolute; 
  align-items: center;
  top: 0;
  left: 0;
  width: 100%; /* Igual ao .main-wrapper */
  z-index: 3; 
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}

.navbar-menu{
  display: none;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.navbar-logo {
  font-size: clamp(1.5rem, 3vw, 6rem);
  width: clamp(1rem, 3vw, 3rem);
  font-family: "Clicker Script", cursive;
  flex: 1 1 auto;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  min-width: 30rem;
  list-style: none;
  flex: 2 1 auto;
  justify-content: end;
  align-items: center;
}

.navbar-list a {
  font-size: clamp(1rem, 2vw, 2.5rem);
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-container{
    justify-content: space-between;
    padding-right: 0;
  }
  .navbar-menu{
    display: flex;
    justify-content: end;
  }

  #menu-icone{
    text-align: center;
    align-items: center;
    height: 2.5rem;
    width: 3rem;
  }
  .navbar-list, .navbar-buttons {
    display: none;
  }
}
