.navbar-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2; /* fica na frente */ 
    padding: 0px 5rem;
    align-items: center;
}
.navbar-logo{
  font-family: "Clicker Script", cursive;
  width: 15%;
 
}

p{
    color: white;
    font-size: 2.5rem;
}

.navbar-list{
    justify-content: center;
    width: 70%;
    display: flex;
    gap: 0px 2rem;
    flex-direction: row;
}
ul{
    list-style: none;
    flex-direction: row;
}
 a{
    text-decoration: none;
    color: white;
}

.navbar-buttons {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 15%;
    gap: 1rem;
  }
  .navbar-buttons button {
    background-color: #F9C06A;
    width: 6rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
  }  
