app-button {
  display: flex;
  align-items: center;
}
.carrousel-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

app-list-products {
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: transform 10s ease;
}
