<form (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-content-container">
    <app-input
      label="Email"
      type="email"
      placeholder="ricardo.castro.linkedin@gmail.com"
      [control]="emailFormControl"
      class="custom-height"
    >
    </app-input>

    @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    } @if (emailFormControl.hasError('required') && emailFormControl.touched) {
    <mat-error>Email is <strong>required</strong></mat-error>
    }
  </div>
  <app-button type="submit">Subscribe</app-button>
</form>
