.container-formatter{
    margin-top: 100px;
    padding: 100vh 0 0 0rem;
}
.section-container{
    margin: 0 150px ;
}
.section-container h1{
    color: #6c3a09;
    font-weight: bold;
}
.text-aligner{
    text-align: center;
}
.content-container{
    display: flex;
    padding-top: 50px;
    gap: 100px;
    flex-direction: row;
}

.content-container h1{
    width: 551px;
    font-size: 55px;
    color: #6c3a09;
    font-weight: bold;
}
.content-container p {
    font-size: 20px;
    max-width: 40rem;
    color: #707070;
}