.container{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
    padding: 100vh 0 0 0rem;
}
.inside{
    color: #6c3a09;
}
.inside h1{
    font-weight: bold;
}
.inside p {
    font-size: 20px;
    width: 30rem;
    color: #707070;
}
