<app-header></app-header>
<div class="container-formatter">
  <section>
    <div class="content-container">
      <div class="discover-text">
        <h1>Discover the best coffee</h1>
        <p>
          Bean Scene is a coffee shop that provides you with quality coffee that
          helps boost your productivity and helps build your mood. Having a cup
          of coffee is good, but having a cup of real coffee is greater. There
          is no doubt that you will enjoy this coffee more than others you have
          ever tasted.
        </p>
        <app-button [buttonText]="buttonLabel"></app-button>
      </div>
      <img src="../../../assets/coffes/coffe-beans.svg" alt="Coffe-Cup" />
    </div>
  </section>

  <section>
    <div class="text-aligner">
      <img
        id="splash-esquerda"
        src="../../../assets/coffes/coffe-splash.svg"
        alt="Coffe-Slapsh"
      />
      <h1>Enjoy a new blend of coffee style</h1>
      <p>
        Explore all flavours of coffee with us. There is always a new cup worth
        experiencing
      </p>
    </div>

    <div class="content-container">
      <app-list-products  [cardsList]="coffees()"></app-list-products>
    </div>
  </section>

  <section>
    <div class="text-aligner">
      <h1>Why are we different?</h1>
      <p>We don’t just make your coffee, we make your day!</p>
      <div>
        <img
          id="splash-direita"
          src="../../../assets/coffes/coffe-splash.svg"
          alt="Coffe-Slapsh"
        />
      </div>
    </div>
    <div class="content-container">
      <app-list-products 
        [cardOption]="'small'"
        [cardsList]="banners"
      ></app-list-products>
    </div>
    <div class="text-aligner">
      <div>Great ideas start with great coffee, Lets help you achieve that</div>
      <h1>Get started today.</h1>
      <app-button [buttonText]="buttonText"></app-button>
    </div>
    
  </section>

  
<section>
  <div class="image-formatter">
    <div class="background-layer">
      <div class="content-container">
        <div class= "getchance-text"> 
          <h1>
            Get a chance to have an<br />
            Amazing morning
          </h1>
          <p>
            We are giving you are one time opportunity to experience a better life
            with coffee.
          </p>
          <app-button></app-button>
        </div>

      </div>
    </div>
  </div>
</section>

  <section>
    <div class="text-aligner">
        <h1>Our coffee perfection feedback</h1>
        <p>Our customers has amazing things to say about us</p>
      <div>
        <img
          id="splash-direita"
          src="../../../assets/coffes/coffe-splash.svg"
          alt="Coffe-Slapsh"
        />
        
        <div class="content-container">
          <app-list-products [cardsList]="feedbacks()"></app-list-products>
        </div>

        <img
          id="baixo"
          src="../../../assets/coffes/splash.baixo.svg"
          alt="Coffe-Slapsh"
        />
      </div>
    </div>
  </section>    

  <footer>
    <!-- <section>
      <div class="image-formatter">
        <div class="background-layer">
          <div class="text-aligner">
            <div class="content-container">
              <div class="subscribe-text">
                <h1>Subscribe to get the Latest News</h1>
                <p>
                  Don’t miss out on our latest news, updates, tips and special offers
                </p>
                <input type="text" name="" id="" />
              </div>
            </div>
        </div>
        </div>
   
      </div>
    </section> -->
  </footer>
</div>
