.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.footer-image-container img {
  background-color: #382208;
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.95;
  mix-blend-mode: multiply;
}

.footer-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  color: white;
}

.subscribe-content {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: 2rem;
}

.subscribe-content article {
  min-width: fit-content;
}

.subscribe-email {
  max-width: 42.5rem;
  color: white;
}

.footer h1{
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  color: white;
}

.footer li{
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
}

.footer p{
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.footer ul {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.data-content{
  height: fit-content;
  align-items: start;
  display: flex;
   gap: 10px; 
}
.data-content2{
  display: none;
}

.footer p {
   margin: 1rem 0; 
  color: white;
}

/*Mobile*/
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }
  .subscribe-email p{
    display: none;
  }
  app-button button{
    min-width: 30px;
  }
  .footer p {
    margin:  0; 
    color: white;
  }
.data-content{
  height: fit-content;
  align-items: start;
  display: flex;
  gap: 0; 
}
  
}
