<footer>
  <section>
    <figure class="image-formatter">
      <div class="background-layer">
        <div class="content-container">

          <section class="subscribe-content">
            <article>
              <h1>Contact With Us</h1>
              <ul>
                <li>Phone: +55 71 3147-2486</li>
                <li>Email: ricardo.castro.likedin&#64;outlook.com</li>
              </ul>
            </article>

            <article>
              <h1>Be Social</h1>
              <ul>
                <li>WhatsZapp: +55 71 99290-7777</li>
                <li>Instagram: &#64;rickccastro</li>
                <li>Twitter: &#64;coffeShopSSA</li>
              </ul>
            </article>
          </section>

          <aside class="subscribe-email">
            <h1>Subscribe to get the Latest News</h1>
            <p>
              Don’t miss out on our latest news, updates, tips and special
              offers
            </p>
            <app-input
              [label]="'Email'"
              [type]="'email'"
              [placeholder]="'Ex. ricardo.castro@gmail.com'"
              [formControl]="emailFormControl"
            >
            </app-input>
            <app-button>Sign In</app-button>
          </aside>

        </div>
      </div>
    </figure>
  </section>
</footer>
