.content-container {
  display: flex;
  flex-direction: row;
  padding-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

h1{
  font-size:clamp(3rem,3.5vw,10rem);
}

p {
  font-size:clamp(1.75rem,1.5vw,4rem);
  color: #707070;
}

app-list-products{
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: transform 10s ease;
}

.discover-section{
  display: flex;
  padding: 1rem;
  gap:3rem
}
.discover-text{
  max-width: 700px;
}
.discover-subtitle{
  max-width: 800px;
}

#coffe-cup{
  width: clamp(20rem,30vw,60rem);
}

.discover-photo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-container{
  position: relative; 
}
.splash-container img{
  max-width: clamp(20rem, 17vw, 40rem);
}

.enjoy-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.text-aligner {
  text-align: center;
}

.feedback-container{
  min-height: 350px;
}

#splash-direita {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -4rem;
    right: 0;
    transform: scaleX(-1);
    z-index: -1;
}

#splash-esquerda{ 
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -6rem;
    left: 0;
    z-index: -1; 
}

.splash-baixo {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    z-index: -1;
}

#splash-baixo-feedback{
  bottom: -25px;
}

.image-formatter {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;

}


.background-layer {
  position: absolute;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: bottom;
  pointer-events: none;
  background-size: cover;
   background-position: center; 
   background-blend-mode: multiply; 
   z-index: 1;
}


#coffe-one{
  background-image: url("../../../assets/footer/customer.webp");  
  background-position: top;
}

.getchance-text h1{
  width: 60rem;
  font-size: 5.5rem;
  color: white;
  font-weight: bold;
}

.getchance-text p{
  color: white;
}

/*Mobile*/
@media (max-width: 768px) {
  .discover-section{
    display: flex;
    flex-direction: column;
    gap:3rem
  }  
  .splash-container{
    display: none;
  }
}
