<section class="content-container discover-section">
  <article id="discover-text">
    <h1>Discover the best coffee</h1>
    <p>
      Bean Scene is a coffee shop that provides you with quality coffee that
      helps boost your productivity and helps build your mood. Having a cup of
      coffee is good, but having a cup of real coffee is greater. There is no
      doubt that you will enjoy this coffee more than others you have ever
      tasted.
    </p>
    <app-button> Learn More </app-button>
  </article>

  <figure id="discover-photo">
    <img
      id="coffe-cup"
      src="../../../assets/footer/Cookie-sem-fundo.png"
      alt="Coffe-Cup"
    />
  </figure>
</section>

<section class="enjoy-container">
  <app-splash position="esquerda"></app-splash>
  <article id="enjoy-text">
    <h1>Enjoy a new blend of coffee style</h1>
    <p>
      Explore all flavours of coffee with us. There is always a new cup worth
      experiencing
    </p>
  </article>

  <app-carousel [cardsList]="coffees()"></app-carousel>
</section>

<section>
  <app-splash position="direita"></app-splash>
  
  <article class="text-aligner">
    <h1>Why are we different?</h1>
    <p>We don’t just make your coffee, we make your day!</p>
  </article>

  <app-list-products
    class="content-container"
    [cardOption]="'small'"
    [cardsList]="banners"
  ></app-list-products>

  
  <app-splash position="esquerda"></app-splash>
</section>

<section>
  <article class="text-aligner">
    <p>Great ideas start with great coffee, Lets help you achieve that</p>
    <h1>Get started today.</h1>
    <app-button> Join Us </app-button>
  </article>

  <figure class="image-formatter">
    <img id="coffe-one" class="background-layer" />
  </figure>

  <app-splash position="direita"></app-splash>
</section>

<section>
  <article class="text-aligner">
    <h1>Our coffee perfection feedback</h1>
    <p>Our customers has amazing things to say about us</p>
  </article>

  <app-carousel
    class="feedback-container"
    cardOption="feedback"
    [cardsList]="feedbacks()"
  ></app-carousel>

  <app-splash position="baixo"></app-splash>
</section>
