#section-pad{
   padding-top: 30px; 
}

.discover-section{
  display: flex;
  gap:3rem
}

#coffe-cup{
  width: clamp(20rem,20vw,60rem);
  height: auto;
}

.discover-photo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-aligner {
  text-align: center;
  position: relative; 
  text-align: center;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.discover-text h1{
  max-width: 55rem;
  font-size:clamp(3rem,5vw,5.5rem);
  color: #6c3a09;
  font-weight: bold;
}
.discover-text p {
  font-size:clamp(1.5rem,3vw,3rem);
  max-width: 60rem;
  color: #707070;
}

#great-ideas{
  padding-top: 5rem;
}

#splash-direita {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -10rem;
    right: 0;
    transform: scaleX(-1);
    z-index: -1; /* joga pra trás do texto */    
}

#splash-esquerda{ 
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -6rem;
    left: 0;
    z-index: -1; 
}

.splash-baixo {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    z-index: -1;
}

.image-formatter {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;

}


/* fundo base com filtro marrom */
.background-layer {
  position: absolute;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: bottom;
  pointer-events: none;
  background-size: cover;
   /* tom café */
   background-position: center; 
   background-blend-mode: multiply; /* mistura cor e imagem */ 
   z-index: 1;
}


#coffe-one{
  background-image: url("../../../assets/footer/customer.webp");  
  background-position: top;
}

.getchance-text h1{
  width: 60rem;
  font-size: 5.5rem;
  color: white;
  font-weight: bold;
}

.getchance-text p{
  color: white;
}

/*Mobile*/
@media (max-width: 768px) {
  .discover-section{
    display: flex;
    flex-direction: column;
    gap:3rem
  }  
}
