<div class="form-container">
  <h1>Cadastro de Usuarios</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-content-container">
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput type="text" formControlName="senha" placeholder="123.456.789-09" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" placeholder="Ricardo Castro" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="ricardo.castro.linkedin@gmail.com"
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="senha"
          placeholder="123456"
        />
      </mat-form-field>
     </div>
     <app-button>Salvar</app-button>
  </form>
</div>
