.splash-container { 
  display: flex;
  width: 100%;
}

.splash-container.esquerda {
  justify-content: flex-start;
}

.splash-container.direita {
  justify-content: flex-end;
}

.splash-img {
  max-width: clamp(20rem, 17vw, 40rem);
}

.splash-container.direita .splash-img {
  transform: scaleX(-1);
}

.splash-baixo {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    z-index: -1;
}