  <div class="carousel-container">

    <div class="container-list">
      <app-button id="align-button" [showButton]="carouselShowButton()" (click)="prev()" [disabled]="currentIndex === 0">
        <img src="../../../assets/carousel/arrow-left.svg" alt="Voltar" />
      </app-button>

      @for (card of visibleCardsList; track card.id || card.title) 
      {      
        <app-card
          [data]="card"
          [cardOption]="cardOption"
          [buttonText]="hasText()"
          [showButton]="showButtonCardDisplay()">
        </app-card>
      }

      <app-button id="align-button" [showButton]="carouselShowButton()" (click)="next()" [disabled]="currentIndex === 0">
        <img src="../../../assets/carousel/arrow-right.svg" alt="Voltar" />
      </app-button>

    </div>
  </div>
