carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  width: 100%;
  height: 100%;
}

#align-button{
  display: flex;
  align-items: center;
}
.container-list {
  display: flex;
  gap: 16px; 
  transition: transform 10s ease;
}
