.form-container {
    width: 300px;
    height: 100%;
    background-color: #6c3a09;
    border-radius: 10px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
  }

  mat-form-field{
    width: 80%;
  }
  
  h1 {
    color: white;
  }
  
  .form-content-container {
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    background-color: rgb(251, 199, 120) !important;
  }
  
  .mat-mdc-form-field.mat-mdc-form-field-invalid .mdc-floating-label {
    color: black !important;
  }
  
  mat-error {
    font-size: clamp(1rem, 1vw, 1.5rem) !important;
    color: rgba(255, 0, 0, 0.716) !important;
  }
  
  mat-label {
    color: white !important;
  }
  
  .mdc-floating-label .mat-mdc-floating-label {
    color: white !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above,
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-form-field-error .mat-mdc-form-field-bottom-align {
    color: white !important;
  }
  
  .mat-mdc-text-field-wrapper {
    height: 3rem !important;
    background-color: #6c3a09 !important;
    width: 100%;
    display: flex;
    align-items: center;
  }
  