<h2 mat-dialog-title>Lista de produtos da sua cesta</h2>
<mat-dialog-content>
    @for (card of cardsList; track card.id || card.title) 
    {
        <app-card
            [cardData]="card"
            [cardOption]="'default'"
        >
        </app-card>
    } 
    @empty {
        <p>Nenhum produto na cesta</p>
    }

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Voltar</button>
  <button mat-raised-button color="primary" (click)="removerCesto()">Remover item</button>
  <button mat-raised-button color="primary" (click)="finalizarPedido()">Finalizar Compra</button>
</mat-dialog-actions>
