<h2 mat-dialog-title>Lista de produtos da sua cesta</h2>
<mat-dialog-content>
    <!-- <app-list-products
    [cardsList]="cardsList"
    [cardOption]="'default'">
    </app-list-products> -->

    @for (card of cardsList; track card.id || card.title) 
    {
        <app-card
            [cardData]="card"
            [cardOption]="'default'"
        >
        </app-card>
    } 
    @empty {
        <p>Nenhum produto na cesta</p>
    }
    
    <!-- <app-card
    [cardData]="cards"
    [cardOption]="'market'"
    >    
  </app-card> -->

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="removerCesto()">Remover item</button>
  <button mat-raised-button color="primary" (click)="finalizarPedido()">Finalizar Compra</button>
</mat-dialog-actions>
